.slider_hidden
	display inline-block
	overflow visible
	
	.slider__main
		display inline-block
	.slider__list
		overflow visible
		display inline-block
	.slider__menu
		display none
	.slider__control
		display none
	